body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
strong {
  color: #0E7184;
  font-weight: normal;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}
.header {
  background: #131921;
}
.header-container {
  padding: 20px;
  color: white;
}
.header-logo-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.direction-container p{
  margin: 8px 10px;
}
.direction {
  display: flex;
  align-items: center;
}
.header-search {
  display: flex;
}
.header-search button {
  display: flex;
  width: 560px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 8px 0 0 8px;
}
.buscador-1 {
  width: 160px;
}
.back-1 {
  background: #F3F3F3;
  padding: 10px;
  border-radius: 8px 0 0 8px;
}
.back-2 {
  background: white;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header-search button input {
  background: none;
  border: none;
}
.buscador-2 {
  width: 280px;
}
.img-background {
  background: #F0AD64;
  width: 40px;
  border-radius: 0 8px 8px 0;
  padding: 0;
  position: relative;
  left: -4px;
}
.img-background img {
  margin: 9px;
}
.header-idc p{
  margin: 5px 0;
}
.cuenta {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-idc.carrito {
  display: flex;
  gap: 5px;
}
.segundo-header {
  background: #242F3E;
}
.header-menu {
  color: white;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px 0;
}
.header-menu a {
  color: white;
  text-decoration: none;
}
.img-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-body {
  display: flex;
  background: #FAFAFA;
  color: black;
  gap: 40px;
  font-weight: 400;
}
.info-buy-canon {
  display: grid;
  grid-template-columns: 50px 600px 420px 270px;
  grid-template-rows: 750px;
  grid-template-areas: "muestra principal info price";
  column-gap: 20px;
  row-gap: 20px;
}
.section-muestra {
  grid-area: muestra;
  padding: 10px;
}
.img1 {
  width: 60px;
  position: relative;
  left: -13px;
  top: 12px;
}
.section-principal {
  grid-area: principal;
  display: flex;
  overflow: auto;
  width: 590px;
  height: 525px;
}
.section-info {
  grid-area: info;
}
.style-price {
  display: flex;
  gap: 10px;
}
.color-red {
  color: red;
}
.p-bold {
  font-weight: 700;
}
.color-celeste {
  color: #0E7184;
}
.time-shipping {
  line-height: 24px;
}
.border-button {
  border-bottom: 2px solid rgb(241, 237, 237);
}
.section-price {
  grid-area: price;
  border: 1px solid gray;
  height: 300px;
  width: 220px;
  padding: 10px;
}
.color-guinda {
  color: #AF2913;
}
.button {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 220px;
  border-radius: 8px;
  border: none;
  background: #F3D184;
  margin-bottom: 15px;
  /* font-weight: initial; */
}
.button.color {
  background: #F0AD64;
  padding: 0 15px;
}
.seguridad {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
}
.section-camara {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.section-partes-camara {
  margin: 80px 0;
}
.section-partes-camara h1 {
  font-size: 30px;
  margin: 80px 0 50px 0;
}
.section-juegos {
  margin: 80px 0;
}
.section-juegos h1 {
  font-size: 30px;
  margin: 80px 0 50px 0;
}
.section-comentarios {
  padding: 20px;
}
.clientes {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}
.comentario-box {
  margin: 20px 0 80px 0;
  line-height: 24px;
  width: 760px;
}
.color-p {
  color: #565959;
  margin: 10px 0;
}
.footer {
  background: #242F3E;
}
.footer-menu {
  display: flex;
  color: white;
  /* align-items: center; */
  justify-content: space-evenly;
}
.footer-menu ul {
  /* list-style: none; */
}
.footer-menu ul a {
  color: #FFFFFF;
  line-height: 30px;
  text-decoration: none;
}
.footer-logo {
  margin: 60px 600px 30px;
}
.footer-container {
  padding: 30px ;
}